footer {
    background-color: #374047;
    color: white;
    padding: 1em;
    text-align: center;
    .footer-container {
        .items {
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            align-content: center;
            padding: 0;
        }
        .block {
            display: flex;
            align-content: center;
            flex-direction: column;
        }
    }
}
