.login-container {
    background-color: #313131;
    height: 100%;
    padding: 0;
    .container {
    	display: flex;
    	justify-content: center;
    	align-items: stretch;
        .btn {
        	padding: 2em;
        	background-color: #374047;
        }
        .field {
        	background-color: white;
            input {
                border: 0;
                padding: 1em;
                background-color: transparent;
                border-left: 1px solid;
                border-color: #E7E7E7;
            }
            span.input-icon {
                padding: 0.5em;
            }
        }
        form#authForm {
        	display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-content: center;
            background-color: #EB4549;
            max-width: 313px;
            min-width: 218px;
            padding: 2em;
            height: 156.5px;
        }
    }

}
