main {
	min-height: 500px;
	padding: 5em 6em;
	justify-content: center;
	display: flex;
	align-items: center;
	align-content: center;
    flex-direction: column;
    .login{
        min-height: 100%;
        padding: 0;
        background-color: #313131;
    }
}

@media screen and (max-width: 750px) {
	main {
		padding: 0;
	}
}
