.posts-container {
	border-radius: 5px;
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    .post {
        padding: 1em;
        // text-align: center;
        border-bottom: 1px solid;
        border-color: #768A92;
        &:last-child {
            border-bottom: none;
        }
        .title {
        	font-size: 25px;
        	font-weight: 100;
        }
        .image-container {
			width: 100%;
			text-align: center;
			img {
                max-width: 250px;
            }
		}
        .content {
            font-size: 16px;
        }
        .date {
        	text-align: right;
        	font-size: 12px;
        	color: grey;
        }
    }
}
